.sb-topnav { 
    background-color: rebeccapurple !important ;
}

#formSubmit {

    display: none;
}
#show{
    background-color: rebeccapurple;
    color: white;
    border-radius: 12px;
    border-style: hidden;
    width: 120px;
    height: 30px;
    margin-bottom: 30px
}